# Node
node_modules/
.pnpm-store/
npm-debug.log*
pnpm-debug.log*

# Build output
dist/
build/

# Local secrets
.env
.env.*
!.env.example

# Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Git
.git/
.gitignore

# Docker
Dockerfile.dev
